<h1>Shortest Connection</h1>
<p>Enter 2 names to find a shortest email connection between the two</p>
<div class="choose_names">
  Connect
  <select id="person1">
    <%= all_user_options %>
  </select>
  to
  <select id="person2">
    <%= all_user_options %>
  </select>
  <button id="go_button" type="button">Go!</button>
</div>
<div class="desc"><span id="separation_number">1</span> degree(s) of email separation</div>
<div class="connections">
  <span class="name">Peak Xu</span>
  <span class="name">Martyn James</span>
</div>
