.desc{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}
.connections{
  display: none;
  .name{
    display: block;
    &:first-child{
      color: red;
    }
    &:last-child{
      color: green;
    }
  }
  .name + .name{
    margin-left: 10px;
    &::before{
      content: '->';
      color: black;
    }
  }
}